<% layout('layouts/boilerplate') %>
<div id="cluster-map"></div>
<nav class="navbar navbar-light bg-light mb-3">
    <div class="container-fluid">
      <form class="d-flex" action="/findSite" method="get">
        <input class="form-control me-2" type="search" name="findSite" id="findSite" placeholder="Enter PG name" aria-label="Search">
        <button class="btn btn-outline-info" type="submit">Find</button>
      </form>
    </div>
</nav>
<% for(let site of sites){ %> 
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <% if(site.images.length) { %> 
                    <img class="img-fluid" alt="" src="<%= site.images[0].url %>">
                <% } else{ %>
                    <img class="img-fluid" alt="" src="https://res.cloudinary.com/m96/image/upload/v1629120924/findMyRoom/teax5sjkl0tpz3xe32po.jpg">
                <% } %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= site.title %></h5>
                    <p class="card-text"><%= site.description %></p>
                    <p class="card-text">
                        <small class="text-muted"><%= site.location %></small>
                    </p>
                    <a class="btn btn-primary" href="/sites/<%= site._id %>">View <%= site.title %></a>
                </div>
            </div>
        </div>
    </div>
<% } %> 

<script>
    $(function(){
        $('#findSite').autocomplete({
            source: function(req, res){
                $.ajax({
                    url: '/autocomplete',
                    dataType: 'jsonp',
                    type: 'GET',
                    data: req,
                    success: function(data){
                        res(data)
                    },
                    error: function(err){
                        console.log(err)
                    }
                })
            },
            minLength: 1,
            select: function(event, ui){
                if(ui.item){
                    $('#findSite').text(ui.item.label)
                }
            }
        })
    })
</script>
<script>
    const mapToken = '<%- process.env.MAPBOX_TOKEN %>'
    const sites = { features: <%- JSON.stringify(sites) %> }
</script>
<script src="/javascripts/clusterMap.js"></script>
